{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <title>React</title>
      <meta charset="utf-8">
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">Телефонный справочник</a>
  <!-- Navbar content -->
    </nav>
    <br/>
    <div id="root" class="container"></div>
    <script src= "{% static 'dist/bundle.js' %}" type="text/javascript"></script>
    <script src= "{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
